* {
	box-sizing: border-box;
}

body {
	background: rgb(159, 160, 200);
	color: rgb(159, 160, 200);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	background: #fff;
	border-radius: 10px;
	font-size: 2rem;
	margin: 0 auto;
	margin-top: 20px;
	max-width: 600px;
	padding: 25px;
	width: 100%;
}

.container blockquote {
	margin: 0;
	margin-bottom: 20px;
}

.double-quotes {
	font-family: Arial, Georgia, "Times New Roman", serif;
	font-size: 3rem;
	font-weight: bold;
}

.container blockquote #quote {
	font-size: 1.6rem;
	text-align: justify;
}

.footer {
	font-size: 1rem;
}

#loader {
	margin: 0 auto;
	width: 150px;
	height: 0;
}

#loader img {
	width: 100%;
}

.container blockquote .footer {
	text-align: right;
}

.twitter-logo  i {
	background: rgb(159, 160, 200);
	border-radius: 5px;
	display: inline-block;
	font-size: 1.2rem;
	color: #fff;
	padding: 7px 10px;
}

#new-quote-btn {
	background: rgb(159, 160, 200);
	border-radius: 5px;
	color: #fff;
	float: right;
	font-size: 1.2rem;
	padding: 7px 10px;
}

/* Media Queries */
@media screen and (max-width: 480px) {
	.container blockquote #quote {
		font-size: 1.3rem;
		text-align: justify;
	}
}