/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9B59B6;
  color: #9B59B6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 3% 0;
}

/* Container */
.container {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 6rem;
  width: 640px;
}

.container .wrapper {
  padding: 35px 35px 15px 35px;
  position: relative;
}

.container blockquote #quote {
  font-size: 2rem;
  text-align: justify;
}

.container blockquote footer {
  text-align: right;
}

.container blockquote:before {
  content: "\201c";
  font-family: Arial, Georgia, "Times New Roman", serif;
  font-size: 5rem;
  font-weight: bold;
  left: 20px;
  line-height: 300px;
  position: absolute;
  top: -63px;
}

/* LOGO */
.logo i {
  background-color: #9B59B6;
  display: inline-block;
  color: #FFF;
  padding: 7px 10px;
  width: 35px;
}

.buttons {
  list-style-type: none;
}
.buttons li{
  display: inline;
}


/* new-quote BUTTON */
#new-quote {
  background-color: #9B59B6;
  color: #FFF;
  float: right;
  margin-right: 39px;
  padding: 7px 10px;
}
